FORMAT: 1A
HOST: http://harvesters.whitecrestmushrooms.com/

# Whitecrest Mushrooms

This API lists all the harvesters associated with a site, sends information about hardware status, and shows data about picking, packing, and mushroom growing.


# Group Harvesters

A harvester is a single unit consisting of a lift, cart, scale and a packer. Inside a harvester there are mushrooms growing on beds, spread over many different vertical levels.

## Harvesters Collection [/harvesters]


### List all Harvesters [GET]

This route displays all Harvesters on a site, and includes their name, ID, and status.


+ Attributes
    + id (number) - ID of the harvester in the form of an integer
    + name (string) - Descriptor of the harvester
    

+ Response 200 (application/json)

        [
            {
                "name": "Harvester1",
                "id": 1,
                "status": 1,
            },
            {
                "name": "Harvester2",
                "id": 2,
                "status": 0,
            },
        ]

## Harvester [/harvesters/{id}]

+ Parameters
    + id (number) - ID of the harvester in the form of an integer


+ Attributes
    + id (number) - ID of the harvester in the form of an integer
    + status (enum[number])
        Status of the harvester in the form of an integer
        + 0: inactive
        + 1: active
    + name (string) - Descriptor of the harvester
    + level_id (number) - ID of the level the harvester is positioned at
    + bed_id (number)  - ID of the bed the harvester is positioned at


### Show a Harvester [GET]

This route exposes a single Harvester, shows the current level and bed position, and shows the status.

+ Request (application/json)

        {
            "id": 1,
        }

+ Response 200 (application/json)

    + Body
        
            {
                "name": "Harvester1",
                "level_id": 10,
                "bed_id": 40,
            }


# Group Levels

A level is a collection of beds stacked vertically in a a harvester.

## Level [/harvesters/{harvester_id}/levels/{id}]


+ Parameters
    + harvester_id (number, optional) - the ID of the parent harvester.
    + id (number) - The ID of the desired level.

+ Attributes (object)
    + id: 1 (number, required)
    + position: 0 (number, required) - vertical location of level 

### Retrieve a Level [GET]
Retrieves the level with the given ID.

+ Response 200 (application/json)
    + Attributes (Level)

## Levels [/levels{?limit}]

+ Attributes (array[Level])

### List all Levels [GET]
Returns a list of your Levels.

+ Parameters
    + limit (number, optional)

        A limit on the number of objects to be returned. Limit can range
        between 1 and 100 items.

        + Default: `25`

+ Response 200 (application/json)
    + Attributes (Levels)

# Group Beds

A bed is a soil area on a level where mushrooms are grown.

## Bed [/harvesters/{harvester_id}/beds/{id}]


+ Parameters
    + harvester_id (number, optional) - the ID of the parent harvester.
    + id (number) - The ID of the desired bed.

+ Attributes (object)
    + id: 1 (number, required)
    + position: 0 (number, required) - horizontal location of bed on a level
    + width: 24 (number) - width of bed in cm
    + height: 96 (number) - height of bed in cm 

### Retrieve a Bed [GET]
Retrieves the level with the given ID.

+ Response 200 (application/json)
    + Attributes (Bed)

## Beds [/beds{?limit}]

+ Attributes (array[Bed])

### List all Beds [GET]
Returns a list of your Beds.

+ Parameters
    + limit (number, optional)

        A limit on the number of objects to be returned. Limit can range
        between 1 and 100 items.

        + Default: `25`

+ Response 200 (application/json)
    + Attributes (Beds)



# Group Lifts

## Lift  [/harvesters/{harvester_id}/lift]

# Group Packers

## Packer [/harvesters/{harvester_id}/packer]

# Group Carts

## Cart [/harvesters/{harvester_id}/cart]

+ Parameters
    + harvester_id (number) - ID of the harvester in the form of an integer
    
### Show a cart [GET]

This route exposes a the cart of a single Harvester.

+ Request (application/json)

        {
            "harvester_id": "1",
        }

+ Response 200 (application/json)

    + Headers

            Location: /harvesters/1/cart

    + Body
        
            {
                "id": "1",
                "level_id": "10",
                "status": "1"
            }
            
# Group Scales

## Scale [/harvesters/{harvester_id}/scale]

### Show a scale [GET]

This route exposes the Scale of a single Harvester.

+ Request (application/json)

        {
            "harvester_id": "1",
        }

+ Response 200 (application/json)

    + Headers

            Location: /harvesters/1/scale

    + Body
        
            {
                "id": "1",
                "current_output": "0.145",
                "status": "1"
                
            }